@font-face {
  font-family: "Work Sans";
  src: url(/fonts/WorkSans-Light.woff);
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url(/fonts/WorkSans-Regular.woff);
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url(/fonts/WorkSans-SemiBold.woff);
  font-style: normal;
}
body ::-webkit-scrollbar {
  appearance: none;
}
:root {
  --black-000: #000;
  --black: #0e0d0d;
  --white: #fdfdf0;
  --orange: #f2a531;
  --section-color-white: #f4f4e7;
  --corner-radius: 20px;
  --button-radius: 96px;
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  transition: all 0.2s linear;
  outline: none;
}
ul,
a {
  text-decoration: none;
  list-style: none;
}
a,
p {
  color: inherit;
}
body {
  font-family: Nunito sans, sans-serif;
  color: var(--black);

  background-color: var(--white);
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0px 10px;

  margin: 0px auto;
}
.container-big {
  max-width: 1820px;
  width: 100%;

  margin: 0px auto;
}
.container-heroSection2 {
  max-width: 1920px;
  width: 100%;

  margin: 0px auto;
}
/* Header starts here */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

  padding: 30px 0px;
}
.header-inner__logo-block {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.header-inner__logo-text {
  font-family: Nunito Sans, sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.header-inner__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header-inner__item-link {
  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 500;
}
.black-button {
  border: none;
  background-color: var(--black-000);
  color: #fff;

  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 500;

  border-radius: var(--button-radius);
}
.header-inner__contact-button {
  padding: 10px 40px;
}
/*burger menu*/
.header {
  position: relative;
}
.header-inner__burger-nav {
  z-index: 9999;
  backdrop-filter: blur(5px);
  padding: 20px 10px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: top;

  gap: 23px;
}
.header-inner__burger-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 30px;
}
.header-inner__burger-nav {
  display: none;
}
/*burger menu*/
/* 
hero section  */
.hero-section__inner {
  background-image: url(/images/green-field.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(400px, 40vw, 748px);
}
.hero-section__inner__tittle-block {
  text-align: center;
}
.tittle-block__tittle {
  font-family: Work Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: clamp(60px, 15vw, 250px);
  line-height: 140%;

  color: var(--white);
}
.tittle-block__text {
  font-family: Work Sans;
  font-weight: 500;
  font-size: clamp(16px, 2vw, 32px);
  line-height: 120%;
  text-transform: uppercase;

  color: var(--white);

  margin-top: clamp(-41px, -5vw, 10px);
}
/*achievemnts section*/
.achievements__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  margin-top: -57px;
}
.achievement-block {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;

  flex: 1 1 340px;
  max-width: 580px;

  border-radius: var(--corner-radius);

  background-color: var(--section-color-white);

  padding: 14px 10px;
}
.achievement-block__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  flex: 1 1 180px;
}
.achievement-block__image {
  position: relative;
  flex: 0 1 214px;
}
.important-text {
  font-family: sans-serif;
  font-weight: 600;

  color: var(--black);
}
.interesting-text {
  font-family: sans-serif;
  font-weight: 600;

  color: var(--orange);
}
.achievement-block__info__text {
  font-size: 14px;
  font-weight: 300;

  color: var(--black);
}
.achievement-block__image__link {
  position: absolute;
  width: 29px;
  height: 29px;

  background-color: var(--orange);

  border-radius: var(--button-radius);

  top: 7px;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*advantages section*/
.advantages__inner {
  margin-top: 90px;

  background-color: var(--section-color-white);
  border-radius: var(--corner-radius);
}
.advantages__container {
  padding: 30px 17px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  grid-auto-rows: 158px;
  gap: 20px 90px;
}
.advantage-block {
  text-align: center;
  padding: 20px 0px;
}
.advantage-block__name__tittle {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 40px;

  margin-bottom: 15px;
}
.advantage-block__info__text {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 400;

  color: #0e0d0d;
  opacity: 70%;
}
/*advantages section*/

/*conpany places*/
.about-company__inner {
  margin-top: 69px;

  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 40px clamp(40px, 4vw, 140px);
  grid-template-areas:
    "info info"
    "image table";
}

.about-company__info {
  grid-area: info;
}
.about-company__info__text {
  font-family: sans-serif;
  font-size: clamp(20px, 5.5vw, 40px);
  font-weight: 300;
  color: #0e0d0d;
}
.about-company__image {
  border-radius: var(--corner-radius);
  grid-area: image;
}
.about-company__places {
  grid-area: table;
}
.about-company__places__info {
  max-width: 889px;
  margin-bottom: 65px;
}
.places__info__text {
  font-size: 18px;
  font-weight: 300;
}
.places__list__block:first-child {
  border-top: 1px solid #0e0d0dbb;
}
.places__list__block:not(:first-child) {
  padding: 20px 0px 10px;
}
.places__list__block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0px;

  border-bottom: 1px solid #0e0d0dbb;
}
.block__tittle__text {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}
.block__info__text {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0e0d0dbb;
}
/*our quality*/
.our-quality__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, 5vw, 40px);
}
.our-quality__backgroud {
  background-color: var(--section-color-white);
  border-radius: var(--corner-radius);
}
.our-quality__inner__tittle {
  text-align: center;

  font-size: clamp(22px, 5vw, 57px);
  font-weight: 300;
  font-family: sans-serif;
}
.our-quality__inner {
  padding: clamp(20px, 5.5vw, 50px) 0px;
  margin-top: 69px;
}
.our-quality__inner__quality-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 16px;
  width: 100%;
}
.quality-grid__block:nth-child(odd) {
  background-color: #355020;
}
.quality-grid__block {
  padding: 51px 24px;
  height: clamp(200px, 20vw, 322px);
  border-radius: var(--corner-radius);

  position: relative;
  border-radius: var(--corner-radius);
  overflow: hidden;

  background-color: #fff;
}
.quality-grid__block__background {
  position: absolute;
  right: -0px;
  bottom: -0px;
  z-index: 1;
}
.quality-grid__block__tittle {
  font-size: clamp(20px, 5vw, 32px);
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;

  position: relative;
  z-index: 1;
}
.quality-grid__block__info {
  position: relative;
  z-index: 1;

  font-size: 16px;
  font-weight: 300;

  color: #fff;
}
.quality-grid__block:nth-child(even) :is(dd, dt) {
  color: #000;
}
/*our quality*/

/*hero section 2*/
.hero-section2__background {
  background-image: url(/images/green-filed-but-png.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero-section2__inner {
  margin-top: 69px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: clamp(200px, 50vw, 600px);
}
.heto-section2__info {
  font-size: clamp(22px, 4.4vw, 45px);
  font-family: Work Sans;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: -15px;
}
.heto-section2__tittle {
  font-size: clamp(60px, 16vw, 300px);
  font-family: Work Sans;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--orange);

  position: relative;
  z-index: -1;
}
.burger-menu-call {
  background-color: transparent;
  border: none;

  display: none;
  flex-direction: column;
  gap: 10px;
  width: 40px;
}
.burger-menu-call > span {
  display: block;
  width: 100%;
  height: 2px;

  background-color: black;
}
.burger-menu-call:hover > span {
  height: 5px;
  border-radius: 10px;
}
.button-row {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: var(--button-radius);
}
.link-row-button {
  background-color: #000;
  white-space: nowrap;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: var(--button-radius);
  border: 1px solid white;
  padding: 0px 5px 0px 0px;
}
.link-row-button > p {
  padding: 19px 38px;
  text-transform: uppercase;
  font-size: 20px;
}
/*supplies*/
.supplies__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, fit-content);

  grid-template-areas:
    "tittle suggestion-block"
    "suggestion__info-text suggestion-block"
    "suggestion__info-text value-block";

  gap: 15px clamp(30px, 5vw, 120px);

  max-height: 493px;

  margin: 130px 0px 150px;
}
.suggestion-block {
  grid-area: suggestion-block;

  display: flex;

  background-color: var(--section-color-white);
  max-width: 726px;

  border-radius: var(--corner-radius);
}
.suggestion-block__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
  padding: 30px 20px;
}

.suggestion-list__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.suggestion-list__item {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.suggestion-list__item > p {
  font-family: sans-serif;
  font-weight: 400;
}
.suggestion-list__item__link {
  padding: 9px;
  border-radius: var(--button-radius);
  background-color: transparent;
}
.value-block {
  grid-area: value-block;

  background-color: var(--black);
  padding: 30px;
  height: fit-content;
  align-self: end;

  border-radius: var(--corner-radius);
}
.value-block__text {
  font-size: clamp(16px, 5vw, 20px);
  font-family: sans-serif;
  color: #fff;
}
.supplies-tittle {
  grid-area: tittle;

  font-size: clamp(24px, 5vw, 40px);
  font-family: Work Sans;
  font-weight: 400;
  line-height: 130%;
}
.suggestion__info-text {
  grid-area: suggestion__info-text;

  align-self: end;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
/*supplies*/
@media (max-width: 1300px) {
  .suggestion-block > img {
    display: none;
  }
  .suggestion-block__info {
    flex-grow: 1;
  }
}
@media (max-width: 1200px) {
  .header-inner__nav {
    display: none;
  }
  .header-inner__contact-button {
    display: none;
  }
  .burger-menu-call {
    display: flex;
  }
}
@media (max-width: 1000px) {
  .about-company__inner {
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 20px 20px;
    grid-template-areas:
      "info info"
      "table table";
  }

  .about-company__image {
    display: none;
  }
  .about-company__info__text {
    background-image: url(/images/cards/golden-field.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5px;
    border-radius: var(--corner-radius);
  }
}
@media (max-width: 850px) {
  .supplies__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, fit-content);

    grid-template-areas:
      "tittle tittle"
      "suggestion-block suggestion__info-text"
      "value-block value-block";

    gap: 15px clamp(30px, 5vw, 120px);

  }
  .supplies-tittle{
    text-align: center;
  }
}
@media (max-width: 590px) {
  .supplies__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, fit-content);

    grid-template-areas:
      "tittle"
      "suggestion-block"
      "value-block"
      "suggestion__info-text";

    gap: 15px clamp(30px, 5vw, 120px);

  }
  .suggestion__info-text{
    align-items: center;
    text-align: center;
  }
}
